<div *ngIf='usages'>
<app-sidebar></app-sidebar>
<app-navbar></app-navbar>
<!doctype html>
<html lang="en">

<body>
   <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->
  
    
       

  
<div class="wrapper">
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Profile</h4>
                            </div>
                            <div class="content">
                                <form>
                                    <div class="row">
                                   
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email address</label>
                                                <input type="email" class="form-control" disabled placeholder="Email" value={{usages.email_address}}>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input type="text" class="form-control" disabled placeholder="First Name" value={{usages.first_name}}>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control" disabled placeholder="Last Name" value={{this.usages.last_name}}>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input type="text" class="form-control" disabled placeholder="Home Address" value={{this.usages.address}}>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input type="text" class="form-control" disabled placeholder="City" value={{this.usages.city}}>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <input type="text" class="form-control" disabled placeholder="Country" value={{this.usages.country}}>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Postal Code</label>
                                                <input type="number" class="form-control" disabled placeholder="Postal Code" value={{this.usages.postal_code}}>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Vehicle Owned</label>
                                                <input type="text" class="form-control" disabled placeholder="Vehicle Owned" value={{this.usages.car_type}}>
                                            </div>
                                        </div>
                                     <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Date of Registration</label>
                                                <input type="text" class="form-control" disabled placeholder="Date of Registration" value={{this.usages.reg_date}}>
                                            </div>
                                        </div> 
                                        
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>About Me</label>
                                                <textarea rows="5" class="form-control" placeholder="Here can be your description" value="">{{this.usages.about_me}}</textarea>
                                            </div>
                                        </div>
                                    </div>

     <button type="submit" class="btn btn-info btn-fill pull-right" [routerLink]="['/add-listing']">Edit Profile</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-user">
                            <div class="image">
                                <img src="assets/img/Logo_Dashboard.png">
                            </div>
                            <div class="content">
                                <div class="author">
                                     <a href="#">
                                    <img class="avatar border-gray" src= {{this.name.google.photoURL}}>

                                      <h4 class="title">{{this.name.google.displayName}}<br />
                                         
                                      
                                      </h4>
                                    </a>
                                </div>
                                <p class="description text-center">{{this.usages.about_me}}</p>
                            </div>
                            <hr>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <footer class="footer">
            
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="http://www.drivamp.com">
                                Home
                            </a>
                        </li>
                       
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; 2017 <a href="http://www.drivamp.com">DrivAMP LLP</a>, powering the vehicles of tomorrow.
                </p>
            
        </footer>

    </div>
</div>

    



</body>

    

</html>
</div>