
<!--<div class="jumbotron text-center">
<div class="container">
<h1>Property Listings</h1>
<p>Access the HOTTEST PROPERTIES</p>    
<a (click)="login2()"><img src="assets/img/google-icon.png"></a>
</div>

</div>

<div>
<canvas id="lineChart" height="400" width="400" style="border: solid ;"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</div>-->

<!--<!DOCTYPE html>
<html lang="en">

<head> -->

    

    
    <!-- Bootstrap Core CSS -->
    <!-- Bootstrap core CSS     -->
    


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<!--<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <
                                <! Change this to a button or input when using this as a form -->
                                <!--
                                <a href="index.html" class="btn btn-lg btn-success btn-block">Login</a>
                                <a (click)="login2()" ><img src="assets/img/google-icon.png" height="50" width="200"></a>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
</body>

</html>


-->
    
  <!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  
  
  
  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>
  <div class="body"></div>
  <br />
        <div class="grad"></div>
        <div class="header">
            <img src="assets/img/logo_nocaption.png" class="centerImage"><br><style>img{display:block;margin:auto;}</style>
            <a (click)="login2()"><img src="assets/img/btn_google_signin_dark_normal_web.png"></a>
            <div></div>
            <div></div>
        
        </div>
        <br>
        
 

  
</body>
</html>
  

