



    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->
<div class="sidebar" data-color="blue">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.drivamp.com" class="simple-text">
                   <img src="assets/img/logo_nocaption.png" height="50" width="175">
                </a>
               
            </div>

            <ul class="nav">
                <li >
                    <a [routerLink]="(['/listings'])">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a [routerLink]="(['/userprofile'])">
                        <i class="pe-7s-users"></i>
                        <p>User Profile</p>
                    </a>
                </li>

               <li><a (click) = "getdevicelist()">
                        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-2">
                            <span class="sidebar-icon"><i class="pe-7s-box2"></i></span>
                            <span class="sidebar-title ">Devices</span>
                            <b class="caret"></b></a>
                        </a>

                        <ul id="submenu-2" class="panel-collapse collapse panel-switch" role="menu">
                        <ul *ngFor="let items of devices">
                        <li><a [routerLink]="['/listing/'+ items.$key]">{{items.$key}}</a></li>
                        </ul></ul>
                        
                            
                       
                    </li>
                     <li>
                <a [routerLink]="['/addadevice']"><i class="pe-7s-plus"></i>
                <p>Add a Device</p>
                </a>
                </li>
               <li>
                    <a (click) = "map()">
                        <i class="pe-7s-map-marker"></i>
                        <p>Maps</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
