<div *ngIf= "userKey != null">
<app-sidebar></app-sidebar>
<app-navbar></app-navbar>

<!doctype html>
<html lang="en">
<head>
    

</head>
<body>

<div class="wrapper">
    <div class="main-panel">
        


        <div class="content">
            
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Usage</h4>
                                <p class="category">Past Electric Charges</p>
                            </div>
                            <div class="content">
                                <div id="chartHours" class="ct-chart"><div id="column_chart" [chartData]="this.column_ChartData1" [chartOptions] = "this.column_ChartOptions1" chartType="ColumnChart" GoogleChart></div></div>
                                <div id="chartHours" class="ct-chart"><div id="column_chart" [chartData]="this.column_ChartData2" [chartOptions] = "this.column_ChartOptions2" chartType="ColumnChart" GoogleChart></div></div>
                                <div id="chartHours" class="ct-chart"><div id="column_chart" [chartData]="this.column_ChartData3" [chartOptions] = "this.column_ChartOptions3" chartType="AreaChart" GoogleChart></div></div>
                            </div>
                        </div>
                    </div>


            </div>

                         
                



                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Usage Log</h4>
                                
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>Time</th>
                                        <th>Device ID</th>
                                        <th>Usage</th>
                                        <th>Duration</th>
                                        <th>Cost</th>
                                    </thead>
                                    <tbody>
                                    
                                        <tr *ngFor="let items of usagetable" >
                                        
                                            <td>{{(items.$key*1000) | date: 'dd-MM-yyyy    HH:MM:ss'}}</td>
                                            <td>{{items.device_id}}</td>
                                            <td>{{items.usage}}</td>
                                            <td>{{items.duration}}</td>
                                            <td>{{items.cost}}</td>
                                           </tr>                                     
                                        <tr>
                                            <td>Total</td>
                                            <td></td>
                                            <td>{{this.datasum2}}</td>
                                            <td>{{this.datasum3}}</td>
                                            <td>{{this.datasum1}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
            
            </div>
        
<div class="col-md-12">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">DrivAMP User Forum</h4>
                            <br />    
                            </div>
                            <div class ="card">

<input type="text" class="form-control" id="message" placeholder="Your Suggestions Here"  (keyup.enter)="this.chatSend($event.target.value)" [(ngModel)]= "msgVal" />

<div class="clearfix"></div>
                                </div>
                            <div class="content">
                                <div class="table-full-width">

                                    <table class="table">
                                        <tbody>
                                    
                                                    
                                                     
                                                    
                                                
                                            <tr *ngFor="let item of msgs | async">
                                                
                                                <td>{{item.name}}</td>
                                                <td>{{item.message}}</td>
                                                
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>

                              </div> 

                            
                        </div>
                    </div>
              
            </div>

        <footer class="footer">
            
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="https:www.drivamp.com">
                                Home
                            </a>
                        </li>
                        <li>
                        
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; 2017 <a href="http://www.drivamp.com">DrivAMP LLP</a>, Powering the vehicles of tomorrow, Today!
                </p>
            
        </footer>

    </div>
</div>


</body>
<script src="https://www.gstatic.com/charts/loader.js"></script> <script> var googleLoaded = false; </script>
</html>
</div>