<!--<a [routerLink]="['/listings']">Back</a>
<app-navbar></app-navbar>
<br />
<h2 class="page-header"></h2>
<form (submit)="onAddSubmit()">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" type="text" [(ngModel)]="fName" name="fName" required>
  </div>
  <div class="form-group">
    <label>Registration Date</label>
    <input class="form-control" type="text" [(ngModel)]="Reg_date" name="Reg_date" required>
  </div>
   <div class="form-group">
    <label>Car type</label>
    <select class="form-control" type="text" [(ngModel)]="car_type" name="car_type" required>
      <option value="Mahindra e2o Plus">Mahindra e2o Plus</option>
      <option value="Mahindra e20">Mahindra e20</option>
      <option value="e2w">e2w</option>
      <option value="e3w">e3w</option>
    </select>
  </div>
  
  <input type="submit" value="submit" class="btn btn-success">
</form>-->

 <!--           
                
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Welcome to DrivAMP Device Registration Form. Please enter the following details to quickly register your New DrivAMP Charger and get Real-Time Data of your device!</h4>
                            </div>
                            <div class="content">
                            <form (submit)="onAddSubmit()">
                            
                                
                                    <div class="row">
                                      <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Device Identity Number</label>
                                                <input type="text" class="form-control" placeholder="Device Identity Number"[(ngModel)]="device_id" name="device_id" required>
                                            </div>
                                        </div>
                                    </div>

                                    

                                    
                                    
                                       
                                        
                                    
                                    <div class="row">
                                     <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Device Model-Please Pick from Below</label>
  <select class="form-control" type="text" placeholder="Vehicle owned" [(ngModel)]="device_model" name="device_model" required>
                                                <option value="VS3">DrivAMP AMP50-VS3</option>
                                                <option value="VS1">DrivAMP AMP50-VS1</option>
                                                 
                                               </select>
                                        </div>
                                        </div>
                                        </div>
                                        <div class="row">
                                     <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Date of Registration</label>
                                                <input type="text" class="form-control" placeholder="DD/MM/YY" [(ngModel)]="reg_date" name="reg_date" required>
                                            </div>
                                        </div> 
                                        </div>
                                        <div class="row">
                                     <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Latitude</label>
                                                <input type="text" class="form-control" placeholder="Latitude" [(ngModel)]="latitude" name="latitude" required>
                                            </div>
                                        </div> 
                                        </div>
                                        <div class="row">
                                     <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Longitutde</label>
                                                <input type="text" class="form-control" placeholder="Longitude" [(ngModel)]="longitude" name="longitude" required>
                                            </div>
                                        </div> 
                                        </div>
                                        <br>
                                      

                                    <input type="submit" value="submit" class="btn btn-success">
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                            </div>
                        
          -->
<html><head></head><body>   <h1> To Add a Device Please register Via our Mobile Application </h1>  </body></html>
              